<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftNews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD5618D31BDC8081008C2A22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD5618EA1BDC8081008C2A22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD5618F51BDC8081008C2A22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
